body {
  padding-top: 5vh;
  background-image: linear-gradient(
      rgba(69, 123, 157, 0.7),
      rgba(69, 123, 157, 0.7)
    ),
    url("assets/2.jpeg");
  background-size: cover;
}

* {
  font-family: "Montserrat", sans-serif;
}

/* canvas {
  height: 600px;
  width: 600px;
} */
.head-container {
  font: italic small-caps bold 12px/30px Georgia, serif;
  display: flex;
  position: fixed;
  flex-direction: row;
  align-items: center;
  height: 6vh;
  color: #1d3557;
  left: 0;
  top: 0;
  width: 100%;
  background: linear-gradient(#a8dadc, #75a1a1);
  /* background-color: #a8dadc; */
  /* background-image: linear-gradient(315deg, #009ffd 74%, #2a2a72 50%); */
  overflow: hidden;
  font-size: 4vh;
}

.c {
  float: left;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  margin-top: 0px;
}

.button-container {
  margin-top: 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app-btn {
  margin: 0 20px 4vh 20px;
  padding: 10px 30px;
  font-size: large;
  border-radius: 200px;
  background-color: #75a1a1;
  color: #fff;
  border: none;
  transition: 0.4s;
  width: fit-content;
  height: fit-content;
}
.app-btn:hover {
  background-color: #a8dadc;
}
.app-btn:disabled {
  background-color: darkgrey;
}

#login-form {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
}

.login-input {
  border: none;
  border-radius: 6px;
  padding-left: 5px;
  margin-bottom: 4vh;
  font-size: 3vh;
  font-weight: bold;
  height: 4vh;
  width: 20vw;
}

.form-container {
  margin-top: 15vh;
}
.config-container {
  margin-top: 4vh;
}

#dialog-header {
  display: flex;
  justify-content: space-between;
}

#close-dialog {
  height: fit-content;
  align-self: center;
}

h1,
h2,
h3 {
  margin: 2px 0px 2px 0px;
}

#welcome {
  margin-top: 10%;
  display: flex;
  align-content: center;
  justify-content: space-around;
  color: #fff;
}

.color-config-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  font-size: 3vh;
}

.config-input {
  border: none;
  margin-left: 4px;
  border-radius: 6px;
  padding-left: 5px;
  font-size: 3vh;
  font-weight: bold;
  text-align: center;
  height: 4vh;
  width: 15vw;
}

.key-config-btn {
  margin-left: 0px;
  margin-right: 0px;
  width: 15vw;
}

#numeric-config-container {
  margin-bottom: 3%;
  font-size: 3vh;
  display: flex;
  justify-content: space-around;
  width: 60%;
}

.config-field {
  margin: 10px 0 10px 0;
  display: flex;
  width: 40%;
  justify-content: space-between;
  font-size: 2.5vh;
  color: #fff;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
.container-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
}

#score {
  margin-top: 5px;
}
#time {
  margin-top: 5px;
}
#game {
  display: flex;
  flex-direction: column;
}
#canvas {
  background-color: rgba(255, 255, 255, 0.01);
  width: 70vmin;
  height: 70vmin;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  text-align: center;
  padding-bottom: 1vh;
}

.no-score {
  border: 4px solid red;
}
.row-flex {
  display: flex;
  flex-direction: row;
}
.config-at-game {
  justify-self: right;
  right: 0;
  border: red 2px solid;
}
.game-container-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: red 4px solid;
}

.canvas-wrapper {
  border: white 2px solid;
  margin-left: 100px;
}
